html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

form a {
  margin-left: 10px;
}

.input-error input[type]:first-of-type  {
  border-color: #E93743!important;
  outline: none 0;
}

.form-box {
  margin-top: 10vh;
}

.dashboard__container {
  margin-top: 20px;
}

.top-right {
  right: 0;
  top: 0;
  margin: 20px 20px 0 0;
}