body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

form a {
  margin-left: 10px;
}

.input-error input[type]:first-of-type  {
  border-color: #E93743!important;
  outline: none 0;
}

.form-box {
  margin-top: 10vh;
}